$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~foundation/scss/normalize.scss";
@import "~foundation/scss/foundation.scss";

// foundation animation instead of angular animate
// ----------------------------------------------------------------------------
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.reveal-modal.in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
// ----------------------------------------------------------------------------

$boardSize: 480px;

.settings {
  .dimension-preview {
    canvas {
      width: $boardSize;
      height: $boardSize;
      margin: 0 auto;
      display: block;
    }
  }

  .dimension-preview-loader {
    text-align: center;
  }

  h2 .fa {
    min-width: 32px;
  }
}

.game {
  .game-board {
    width: $boardSize;
    height: $boardSize;
    margin: 0 auto;
    position: relative;

    .tile {
      position: absolute;
      //transition: all 0.2s ease-out;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &.empty {
        z-index: -1;
      }
    }
  }
}

.leaders {
  .unstyled-list {
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.author {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
}

// ----------------------------------------------
// http://foundation.zurb.com/sites/docs/v/5.5.3/media-queries.html

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */